html {
    box-sizing: 'border-box'
}
.center {
  text-align: center;
  vertical-align: middle;
}
ul {
    list-style: none;
    padding: 0;
}

#input-parent {
    width: 160px;
/*    margin-left: auto;
    margin-right: auto;*/
    margin: 0 auto 0 auto;
}

img {
    display: inline;
    width: 200px;
    height: 100px;
}
#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
}
button {
  margin-bottom: 0;
}
